/*chat */
@charset "UTF-8";

<style type="text/css">
.chat-main {
	

}

.chat-msg-container {
    flex-direction: column;
    height: 310px;
    width: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
   
}

.chat-connection-list {

    flex-direction: column;
    height: 310px;
    width: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    overflow-y: scroll;
}


.chat-list {
	
	display: flex;
	flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 20px;
    width: 200px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    overflow-y: scroll;
}
	
}

.body-container {
	max-width: 800px;
}

.chat-msg-container { display: flex; flex-direction:column; height: 310px; overflow-y: scroll; }
.chat-connection-list { height: 355px; overflow-y: scroll; }
.chat-connection-list span { display: block; cursor: pointer; margin-bottom: 3px; }
.chat-connection-list span:hover { color: #0d6efd }

.user-left {
	color: #0d6efd;
	font-weight: 700;
	font-size: 10px;
	margin-left: 3px;
	margin-bottom: 1px;
}

.chat-info, .msg-left, .msg-right {
	max-width: 350px;
	line-height: 1.5;
	font-size: 13px;
    padding: 0.35em 0.65em;
    border: 1px solid #ccc;
    color: #333;
    white-space: pre-wrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.chat-info {
    background: #f8f9fa;
    color: #333;
    margin-right: auto;
    margin-left: 3px;
    margin-bottom: 5px;
}
.msg-left {
    margin-right: auto;
    margin-left: 8px;
    margin-bottom: 5px;
}
.msg-right {
	margin-left: auto;
    margin-right: 3px;
    margin-bottom: 5px;
}
</style>

