
.chat-main {
    display: flex;
}

.chat-left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.chat-right {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    margin-left: 10px;
}

.chat-msg-container {
    height: 310px;
    width: 300px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#chatMsg {
    text-align: right;
}

.chat-connection-list {
    height: 310px;
    width: 150px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    overflow-y: scroll;
}

.chat-left-main {
    display: flex;
}

.mt-2 {
	background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
	width: 300px;
}
.mt-3{
	background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width:150px;
}

.chatMsg {
	background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
	width:100%;
}