@charset "UTF-8";


/* board */
.board-insaManage-home { width: 100%; }

.table-list thead > tr { background: #F2F2F2; }
.table-list th, .table-list td { text-align: center; }

.btn-insaManage-home {
	color: black;
	border: 1px solid #999999;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	font-size: 14px;
	line-height: 15px;
	background-color: white;
}

.insaManageHome {
    width: 200px;
    height: 23px;
}

.insa-home{
	padding-left : 30px;
}

.insa-home-tr {
	border-bottom: 1px solid #ced4da;
	border-top: 2px solid #212529;
}

.insa-home-td {
	border-bottom: 1px solid #ced4da;
	height: 50px;
}

.insa-home2-td {
	border-bottom: 1px solid #ced4da;
	height: 50px;
}

.insa-home-td:hover {
	background-color: #ced4da;
	cursor: pointer;
}

.form-select{ height: 23px;}

.title { 
	font-size: 20px; 
	font-weight: bold; 
	padding: 13px 0; 
}


.btn-insaManage-add {
	border: 1px solid #999999;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: 450;
	font-size: 14px;
	line-height: 15px;
	height: 35px;
	width : 100px;
	border-radius: 5px;
    background-color: #243A73; 
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 3px;
    margin: 20px 0 15px 0;
}

.title_container {
	width: 100%;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.insateam {
	display: none;	
}

.change-posdept {
	display: flex;
	justify-content: space-between;
}

.insa-list-tab {
	width: 100%;
}

.box insa {
	display: flex;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid;
	text-align: center;
	justify-content: space-between;
	margin-bottom: 5%;
}

.box-insa {
	margin-bottom: 3%;
	text-align: center;
}

.insa-button {
	flex-basis: 25%;
	width: 20%;
	margin: 15px 15px 0 15px;
	padding: 10px;
	background: none;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.insa-button > span {
	vertical-align: middle;
}

.insa-button:focus {
	outline: none;
}

.insa-button-zz {
	overflow: hidden;
	letter-spacing: 1.5px;
	font-size: 15px;	
}

.insa-button-zz::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background-color: #243A73;
	z-index: -1;
}

.insa-button-zz:hover {
	color: #fff;
	border-color: #243A73;
	background-color: #243A73;
}

.insa-button-zz.button--inverted:hover {
	opacity: 1;
	background-color: #243A73;
}

.insa-button-zz.button--inverted:hover::before {
	background-color: #243A73;
}

.btnInsaActive {
	color: #fff;
	opacity: 1;
	background-color: #243A73;
}

.insacard-next{
	margin-bottom: 3%;
}

.title-name {
	font-weight: bold;
	font-size: large;
}

.page-dataCount {
	font-size: 20px;
}
