
/* 노티드 도넛 */



.notice-list {	
	border: 1px solid #999999;
	wedth: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 20px;  
}

.btn-notice {	
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #CEDDEF;
    color: #404040;
    border: none;
    cursor: pointer;
    font-weight: 600;
 }
 
.addInput{
    width: 300px;
    height: 23px;
}

.address-select{ height: 23px;}

