
/* SURVAY */

.survay-main {

    display: flex;
    width: 100%;
    height: 100%;
    background-color: #E7E7E7;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 20px;

}

.top-box {

  flex: 4;
  display: flex;

  padding: 20px;
}

.bottom-box {
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.sBox{    
	text-align: start;
    padding-left: 15px;
}

.titleBox{margin: 20px 0px 20px 0px; font-weight: bold;}
.inputBox {
    height: 80px;
    width: 100%;
}
.submitButton{float: right; margin-top: 20px;}

.qBox {
    width: 100%;
    height: 40px;	
    text-align: start;
    padding-left: 15px;
}
.select {
  height: 10px;
  width: 5px;
}


.round-checkbox {
  
    -moz-appearance: none;
    margin-right: 10px;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid gray;
    outline: none;
    transition: all 0.3s;
}

.round-checkbox:checked {
  background-color: gray;
}

.box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-text {
  margin-left: 10px;
}

.remove-btn {
   margin-left: 10px;
   height: 40px;
   width: 29px;
}

.box-input {
   width: 100%; 
   height: 40px;
   text-align: center;
}