@charset "UTF-8";


.btn-emp-list {
	color: black;
	border: 1px solid #999999;
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: 500;
	cursor: pointer;
	font-size: 14px;
	line-height: 15px;
	background-color: white;
}

.emp-list-select {
  padding: 4px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0 15px 0;
  margin-right: 10px;
  width: 130px;
}

.emp-list-search{
  padding: 4px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  margin: 20px 0 15px 0;
  margin-right: 10px;
  width: 200px;
}


.title_container-emp-list {
	width: 100%;
}


.emp-list {
	padding-left : 30px;
}

.board-emp-list { 
	width: 100%; 
}

.emp-list-1 {
	margin-bottom: 20px;
}

.title-emp-list { 
	font-size: 20px; 
	font-weight: bold; 
	padding: 13px 0; 
}

.emp-list-empNo {
	width: 10%;
}

.emp-list-name {
	width: 10%;
}

.emp-list-team {
	width: 15%;
}

.emp-list-posi {
	width: 10%;
}

.emp-list-work {
	width: 10%;
}

.emp-list-diswork {
	width: 10%;
}

.emp-list-late {
	width: 10%;
}

.emp-list-leave {
	width: 10%;
}

.emp-list-holiday {
	width: 10%;
}