<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubBoard">
	<!-- 클럽 게시판 게시글 작성 -->
	<insert id="insertClubBoard" parameterType="com.sp.grooveware.club.board.ClubBoard">
		INSERT INTO club_board (club_board_no, club_id, emp_no, board_category, clubboard_title, clubboard_content, clubboard_regdate, clubboard_hitcount)
		VALUES (CLUB_BOARD_SEQ.NEXTVAL, #{club_id}, #{emp_no}, #{board_category}, #{clubboard_title}, #{clubboard_content}, SYSDATE, 0)
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="condition == 'all' ">
			   ( INSTR(clubboard_title, #{keyword}) &gt; 0
		          OR DBMS_LOB.INSTR(clubboard_content, #{keyword}) &gt; 0 )
			</when>
			<when test="condition == 'reg_date' ">
			   ( TO_CHAR(clubboard_title, 'YYYYMMDD') = #{keyword}
		          OR TO_CHAR(clubboard_regdate, 'YYYY-MM-DD') = #{keyword} )
			</when>
			<when test="condition == 'content'">
			    DBMS_LOB.INSTR(clubboard_title, #{keyword}) &gt; 0
			</when>
			<otherwise>
			    INSTR(${condition}, #{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<!-- 클럽 게시판 리스트 조회 : 제목, 작성자, 작성일, 조회수-->
	<select id="listClubBoard" parameterType="map" resultType="com.sp.grooveware.club.board.ClubBoard">
		SELECT c.club_id, c.club_name, cb.club_board_no, e.emp_name, cb.board_category, cb.clubboard_title, cb.clubboard_content, 
		        TO_CHAR (cb.clubboard_regdate, 'YYYY-MM-DD') clubboard_regdate, cb.clubboard_hitcount
		FROM club_board cb
		JOIN club c ON cb.club_id=c.club_id
		JOIN emp e ON cb.emp_no=e.emp_no
		WHERE cb.board_category=#{board_category} AND cb.club_id=#{club_id}
		<where>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list"/>
			</if>
		</where>
		ORDER BY club_board_no DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 클럽 게시판 게시글 개수 -->
	<select id="dataCountClubBoard" parameterType="map" resultType="Integer"> 
		SELECT NVL(COUNT(*),0)
		FROM club_board cb
		JOIN club c ON cb.club_id=c.club_id
		WHERE cb.board_category=#{board_category}
		<where>
			<if test="keyword!=null and keyword!='' ">
				AND <include refid="where-list"/>
			</if>
		</where> 
	</select>
	
	<!-- 클럽 게시판 게시글 수정 -->
	<update id="updateClubBoard" parameterType="com.sp.grooveware.club.board.ClubBoard">
	
	</update>
	
	<!-- 클럽 게시판 게시글 삭제 -->
	<delete id="deleteClubBoard" parameterType="com.sp.grooveware.club.board.ClubBoard">
		DELETE FROM club_board WHERE club_board_no = #{club_board_no}
	</delete>
	
	
	<!-- 클럽 게시판 게시글 보기 -->
	<select id="readClubBoard" parameterType="Long" resultType="com.sp.grooveware.club.board.ClubBoard"> 
		SELECT cb.club_board_no, e.emp_name, cb.board_category, cb.clubboard_title, cb.clubboard_content, 
          TO_CHAR (cb.clubboard_regdate, 'YYYY-MM-DD') clubboard_regdate, cb.clubboard_hitcount
		FROM club_board cb
		JOIN emp e ON cb.emp_no=e.emp_no
		WHERE cb.club_board_no=#{club_board_no}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateHitCount" parameterType="Long">
		UPDATE club_board SET clubboard_hitcount=clubboard_hitcount+1 WHERE club_board_no = #{club_board_no}
	</update>
	
	<!-- 이전글 -->
	<select id="preReadBoard" parameterType="map" resultType="com.sp.grooveware.club.board.ClubBoard">
		SELECT cb.club_board_no, cb.clubboard_title
		FROM club_board cb
		JOIN emp e ON cb.emp_no=e.emp_no
		JOIN club c ON cb.club_id=c.club_id
		WHERE cb.club_id=#{club_id}
		AND cb.board_category=#{board_category}
		AND (club_board_no &gt; #{club_board_no})
		<where>
			<if test="keyword != null and keyword != '' ">
				AND <include refid="where-list"/>
			</if>
		</where>
		ORDER BY club_board_no ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadBoard" parameterType="map" resultType="com.sp.grooveware.club.board.ClubBoard">
		SELECT cb.club_board_no, cb.clubboard_title
		FROM club_board cb
		JOIN emp e ON cb.emp_no=e.emp_no
		JOIN club c ON cb.club_id=c.club_id
		WHERE  cb.club_id=#{club_id}
		AND cb.board_category=#{board_category}
		AND (club_board_no &lt; #{club_board_no})
		<where>
			<if test="keyword != null and keyword != '' ">
				AND <include refid="where-list"/>
			</if>
		</where>
		ORDER BY club_board_no ASC
		FETCH FIRST 1 ROWS ONLY
	</select>

</mapper>