<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dashBoard">
	<!-- 출퇴근 기록 - 출근찍기 -->
	<update id="insertWorkTime" parameterType="com.sp.grooveware.dashBoard.WorkTime">
		INSERT INTO worktime_recode (record_no, emp_no, work_starttime, work_status)
        VALUES (WORKTIME_RECODE_SEQ.NEXTVAL, #{emp_no}, SYSDATE, 
        CASE 
            WHEN TO_CHAR(SYSDATE, 'HH24:MI:SS') &lt;= '09:00:00' THEN 0
            WHEN TO_CHAR(SYSDATE, 'HH24:MI:SS') &gt; '09:00:00' AND TO_CHAR(SYSDATE, 'HH24:MI:SS') &lt; '18:00:00' THEN 1
            ELSE 2	
        END)
	</update>

	<!-- 당일 출퇴근기록 보기 -->
	<select id="readWorkTime" parameterType="Long" resultType="com.sp.grooveware.dashBoard.WorkTime">
		SELECT record_no, emp_no, TO_CHAR(work_starttime, 'YYYY-MM-DD') work_date, 
		       TO_CHAR(work_starttime, 'HH24:MI') work_starttime, TO_CHAR(work_endtime, 'HH24:MI') work_endtime, work_status
		FROM worktime_recode
		WHERE emp_no=#{emp_no} AND TO_CHAR(work_starttime, 'YYYY-MM-DD')=TO_CHAR(SYSDATE,'YYYY-MM-DD')
	</select>
	
	<!-- 출퇴근 기록 - 퇴근찍기 -->
	<update id="updateWorkTime" parameterType="com.sp.grooveware.dashBoard.WorkTime">
		UPDATE worktime_recode 
		SET work_endtime=SYSDATE,
			work_status = CASE WHEN TO_CHAR(SYSDATE, 'HH24:MI:SS') &lt; '18:00:00' THEN 3
				ELSE work_status END
		WHERE record_no=#{record_no} AND emp_no=#{emp_no}
	</update>
	
	<!-- 내 휴가 통계 -->
	<select id="myHolidayList" parameterType="Long" resultType="com.sp.grooveware.dashBoard.DashBoard">
	
	</select>
	
	<!-- 전재결재 -->
	<select id="myDocList" parameterType="Long" resultType="com.sp.grooveware.dashBoard.DashBoard">
	
	</select>
	
	<!-- 프로젝트 목표 현황 -->
	<select id="myGoalList" parameterType="Long" resultType="com.sp.grooveware.dashBoard.DashBoard">
	
	</select>
	
	<!-- 전체 공지사항 -->
	<select id="noticeList" parameterType="Long" resultType="com.sp.grooveware.dashBoard.DashBoard">
	
	</select>
	
	<!-- 부서 공지사항 -->
	<select id="deptNoticeList" parameterType="Long" resultType="com.sp.grooveware.dashBoard.DashBoard">
	
	</select>
	
</mapper>