<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insaManage">


	<select id="seq" resultType="Long">
		SELECT emp_history_seq.NEXTVAL FROM dual
	</select>
	
	
	<insert id="insertEmp" parameterType="com.sp.grooveware.insamanage.InsaManage">
		INSERT INTO emp_reg(emp_name, emp_rrn, emp_email, emp_tel, emp_address, emp_join_date)
		VALUES (#{emp_name}, #{emp_rrn}, #{emp_email}, 
				#{emp_tel}, #{emp_address}, TO_DATE(#{emp_join_date}, 'YYYY-MM-DD'))
	</insert>
	
	<insert id="insertHistory" parameterType="com.sp.grooveware.insamanage.InsaManage">
		INSERT INTO emp_history(history_no, emp_no, pos_no, pos_startdate, dept_no, dept_startdate)
		VALUES (#{history_no}, 
		(SELECT emp_no FROM emp ORDER BY substr(emp_no,5,4) DESC FETCH FIRST 1 ROW ONLY), 
		#{pos_no}, TO_DATE(#{pos_startdate}, 'YYYY-MM-DD'), #{dept_no}, 
		TO_DATE(#{dept_startdate}, 'YYYY-MM-DD'))
	</insert>
	
	
	
	<select id="readDeptCategory" parameterType="Long" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT  dept_no, dept_name, dept_status, top_dept_no 
		FROM dept
		WHERE dept_no = #{dept_no}
	</select>
	
	<!-- 상위 부서 카테고리 -->
	<select id="listDeptCategory" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT dept_no, dept_name, dept_status, top_dept_no 
		FROM dept 
		WHERE top_dept_no IS NULL 
		ORDER BY dept_no 
	</select>

	<!-- 하위 부서 카테고리 -->
	<select id="listDeptSubCategory" parameterType="Long" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT dept_no, dept_name, dept_status, top_dept_no 
		FROM dept
		WHERE top_dept_no  = #{top_dept_no}
		ORDER BY dept_no
	</select>

	<!-- 직위 -->	
	<select id="readPosCategory" parameterType="Long" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT pos_no, pos_name, top_pos_no
		FROM pos
		WHERE pos_no = #{pos_no}
	</select>
	
	<select id="listPosCategory" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT pos_no, pos_name, top_pos_no
		FROM pos
		ORDER BY pos_no
	</select>
	
	<!-- 회원 리스트 -->
	<sql id="where-list">
		<choose>
			<when test="condition=='emp_no'">
				INSTR(emp.user_no, #{keyword}) &gt;= 1
			</when>
			<otherwise>
				INSTR(${condition}, #{keyword}) &gt;= 1
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM emp 
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	

	<!-- 재직 중인 사원 리스트 -->
	<select id="listinsaMember" parameterType="map" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT e.emp_no, e.emp_name, d.dept_name, p.pos_name,
				TO_CHAR(e.emp_join_date, 'YYYY-MM-DD') emp_join_date,
				TO_CHAR(e.emp_resign_date, 'YYYY-MM-DD') emp_resign_date
		FROM emp e
		JOIN emp_history eh ON e.emp_no = eh.emp_no
		JOIN dept d ON eh.dept_no = d.dept_no
		JOIN pos p ON eh.pos_no = p.pos_no
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			AND e.emp_status = 0
		</where>
		ORDER BY emp_join_date DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 인사관리 -->
	<select id="readProfile" parameterType="String" resultType="com.sp.grooveware.insamanage.InsaManage">
		SELECT e.emp_no, e.emp_name, e.emp_email, e.emp_tel, e.emp_address, 
				d.dept_name, p.pos_name,
				TO_CHAR(e.emp_join_date, 'YYYY-MM-DD') emp_join_date
		FROM emp e
		JOIN emp_history eh ON e.emp_no = eh.emp_no
		JOIN dept d ON eh.dept_no = d.dept_no
		JOIN pos p ON eh.pos_no = p.pos_no
		WHERE e.emp_no = #{emp_no}
	</select>
	
	<insert id="insertEmpHistory" parameterType="com.sp.grooveware.insamanage.InsaManage">
		INSERT INTO emp_history(history_no, emp_no, pos_no, pos_startdate, dept_no, dept_startdate)
		VALUES (#{history_no}, 
		(SELECT emp_no FROM emp ORDER BY substr(emp_no,5,4) DESC FETCH FIRST 1 ROW ONLY), 
		#{pos_no}, TO_DATE(#{pos_startdate}, 'YYYY-MM-DD'), #{dept_no}, 
		TO_DATE(#{dept_startdate}, 'YYYY-MM-DD'))
		WHERE emp_no = #{emp_no}
	</insert>
	
	
</mapper>