<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insaManage">
	
	<insert id="insertEmp" parameterType="com.sp.grooveware.insamanage.InsaManage">
		INSERT INTO emp_reg(emp_name, emp_rrn, emp_email, emp_tel, emp_address, emp_join_date)
		VALUES ('편법', #{emp_rrn}, #{emp_emal}, 
				#{emp_tel}, #{emp_address}, #{emp_join_date, jdbcType=DATE})
	</insert>
	
	<insert id="insertHistory" parameterType="com.sp.grooveware.insamanage.InsaManage">
		INSERT INTO emp_history(history_no, emp_no, pos_no, pos_startdate, dept_no, dept_startdate)
		VALUES (emp_history_seq.nextval, (SELECT emp_no FROM emp ORDER BY substr(emp_no,5,4) DESC FETCH FIRST 1 ROW ONLY), #{pos_no}, 
		#{pos_startdate, jdbcType=DATE}, #{dept_no}, #{dept_startdate, jdbcType=DATE})
	</insert>
	
	 
	 <!--  
	<update id="insertInsaManage" parameterType="com.sp.grooveware.insamanage.InsaManage">
		INSERT ALL
		INTO emp_reg(emp_name, emp_rrn, emp_email, emp_tel, emp_address, emp_join_date)
		VALUES (#{emp_name}, #{emp_rrn}, #{emp_email}, 
				#{emp_tel}, #{emp_address}, #{emp_join_date})
		INTO emp_history(history_no, emp_no, pos_no, pos_startdate, dept_no, dept_startdate)
		VALUES (#{history_no}, emp_seq.CURRVAL , #{pos_no}, #{pos_startdate}, #{dept_no}, #{dept_startdate})
		SELECT * FROM dual
	</update>
	-->
	
</mapper>