<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" parameterType="String" resultType="com.sp.grooveware.member.Member">
		
		SELECT e.emp_no, e.emp_name, e.emp_pwd, eh.dept_no, d.dept_name
		FROM emp e
		JOIN (
		    SELECT *
		    FROM emp_history
		    WHERE emp_no = #{emp_no}
		    ORDER BY dept_startdate DESC
		    FETCH FIRST 1 ROW ONLY
		) eh ON e.emp_no = eh.emp_no
		JOIN dept d ON eh.dept_no = d.dept_no
		WHERE e.emp_no = #{emp_no}
		
	</select>
	
</mapper>
