<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myInsa">
	
	<!-- 인사관리 -->
	<select id="readProfile" parameterType="long" resultType="com.sp.grooveware.myInsa.MyInsa">
		SELECT e.emp_no, e.emp_name, e.emp_email, e.emp_tel, 
				d.dept_name, p.pos_name,
				TO_CHAR(e.emp_join_date, 'YYYY-MM-DD') emp_join_date, emp_picture,
				emp_zip, emp_addr1, emp_addr2
		FROM emp e
		JOIN (
		    SELECT *
		    FROM emp_history
		    WHERE emp_no = #{emp_no}
		    ORDER BY dept_startdate DESC
		    FETCH FIRST 1 ROW ONLY
		) eh ON e.emp_no = eh.emp_no
		JOIN dept d ON eh.dept_no = d.dept_no
		JOIN pos p ON eh.pos_no = p.pos_no
		WHERE e.emp_no = #{emp_no}
	</select>
	
	<select id="readAnnualLeave" parameterType="long" resultType="Integer">
		SELECT TRUNC((MONTHS_BETWEEN(TRUNC(SYSDATE), TRUNC(e.emp_join_date)) / 12 ) + 1) AS annual_leave
		FROM emp e
		WHERE e.emp_no = #{emp_no}
	</select>
	
	<!-- 인사관리 -->
	<select id="readProfile2" parameterType="long" resultType="com.sp.grooveware.myInsa.MyInsa">
		SELECT e.emp_no, e.emp_name, e.emp_email, e.emp_tel,
				d.dept_name, p.pos_name,
				SUBSTR(emp_rrn, 1, 6) emp_rrn,
				TO_CHAR(e.emp_join_date, 'YYYY-MM-DD') emp_join_date, emp_picture,
				emp_zip, emp_addr1, emp_addr2
		FROM emp e
		JOIN (
		    SELECT *
		    FROM emp_history
		    WHERE emp_no = #{emp_no}
		    ORDER BY dept_startdate DESC
		    FETCH FIRST 1 ROW ONLY
		) eh ON e.emp_no = eh.emp_no
		JOIN dept d ON eh.dept_no = d.dept_no
		JOIN pos p ON eh.pos_no = p.pos_no
		WHERE e.emp_no = #{emp_no}
	</select>
	
	<!-- 사원 정보 update -->
	<update id="updateProfile" parameterType="com.sp.grooveware.myInsa.MyInsa">
		UPDATE emp 
		SET emp_email = #{emp_email},
			emp_tel = #{emp_tel}, emp_zip = #{emp_zip}, emp_addr1 = #{emp_addr1}, emp_addr2 = #{emp_addr2},
			emp_picture = #{emp_picture}
		WHERE emp_no = #{emp_no}
	</update>
	
	
	
	<!--  출퇴근 리스트  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM worktime_recode
	</select>
	
	<select id="listWorkRecord" resultType="com.sp.grooveware.myInsa.MyInsa">
		SELECT record_no, emp_no, 
			TO_CHAR(work_starttime, 'MM/DD') work_day, 
			TO_CHAR(work_starttime, 'HH24:MI') work_starttime, 
			TO_CHAR(work_endtime, 'HH24:MI') work_endtime, work_status 
		FROM worktime_recode 
		WHERE emp_no = #{emp_no}
		ORDER BY work_day
	</select>
	
	
	<!-- 출근일, 지각일, 결근일 구하기 -->
	<select id="workCount" parameterType="Long" resultType="com.sp.grooveware.myInsa.MyInsa">
		SELECT EXTRACT(YEAR FROM work_starttime) AS work_year,
	        COUNT(CASE WHEN work_status = 0 THEN 1 END) AS work_Count,
	        COUNT(CASE WHEN work_status = 1 THEN 1 END) AS workLate_Count,
	        COUNT(CASE WHEN work_status = 2 THEN 1 END) AS workAbsence_Count,
	       	COUNT(CASE WHEN work_status = 3 THEN 1 END) AS workLateEarly_Count 
	    FROM worktime_recode
	    WHERE emp_no = #{emp_no}
	    GROUP BY EXTRACT(YEAR FROM work_starttime)
	</select>
	
 	
	

</mapper>