<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<!-- parameterType 입력된 값 전달용  -->
	<!-- resultType은 쿼리 실행 결과를 매핑 -->
	
   <!--  게시글 조건  -->
     	<sql id="where-list">
		<choose>
			<when test="condition == 'all' ">
			   (INSTR(noti_title, #{keyword}) &gt; 0
		          OR INSTR(noti_content, #{keyword}) &gt; 0 )
			</when>
			<when test="condition == 'noti_regdate' ">
			   (TO_CHAR(reg_date, 'YYYYMMDD') = #{keyword}
		          OR TO_CHAR(noti_regdate, 'YYYY-MM-DD') = #{keyword} )
			</when>
			<when test="condition == 'noti_content'">
			    INSTR(noti_content, #{keyword}) &gt; 0
			</when>
			<otherwise>
			    INSTR(${condition}, #{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	
	<!--  insert -->	
	<insert id="insertNotice" parameterType="com.sp.grooveware.notice.Notice">      
	     INSERT INTO notice (NOTI_ID, NOTI_TITLE, NOTI_CONTENT, NOTI_REGDATE, NOTI_HITCOUNT, emp_no, dept_id,
                       SAVE_FILENAME, ORIGINAL_FILENAME)
         VALUES (
	        notice_seq.nextval,
	        #{noti_title},
	        #{noti_content},
	        SYSDATE,
	        0,
	        #{emp_no},
	        #{dept_id, jdbcType=BIGINT},
	        #{save_filename, jdbcType=VARCHAR},
	        #{original_filename, jdbcType=VARCHAR}
    	)
	</insert>
	
	<!-- 데이터개수  -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM notice n
		JOIN emp e ON n.emp_no=e.emp_no
		<where>
			<if test="gubun=='all' ">
				n.dept_id IS NULL
			</if>
			<if test="gubun=='dept' ">
				n.dept_id = #{dept_id}
			</if>			
			<if test="keyword != null and keyword!=''  ">
				AND <include refid="where-list"/>
			</if>
		</where>
	</select>	
   

    <!-- 공지 글 리스트 -->
    <select id="listNotice" parameterType="map" resultType="com.sp.grooveware.notice.Notice">
	   SELECT noti_id, noti_title, emp_name, TO_CHAR(noti_regdate, 'YYYY-MM-DD') noti_regdate,
       noti_hitcount, NVL(save_filename, 0) as save_filename
       FROM notice n
       JOIN emp e ON n.emp_no=e.emp_no
       <where>
 			<if test="gubun=='all' ">
				n.dept_id IS NULL
			</if>      
 			<if test="gubun=='dept' ">
				n.dept_id = #{dept_id}
			</if>      
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list"/>
			</if>
		</where>
		ORDER BY noti_id DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY	
    </select>
    
    
    <!--  글보기 -->
    <select id="readNotice" parameterType="Long" resultType="com.sp.grooveware.notice.Notice">
      SELECT noti_id, noti_title, noti_regdate, n.emp_no , e.emp_name, n.noti_content,
         original_filename, save_filename
      FROM notice n
      JOIN emp e ON n.emp_no = e.emp_no
      WHERE noti_id = #{noti_id}
	</select>
    
    <!--  조회수 -->
    <update id="updateHitCount" parameterType="long">
      UPDATE notice SET noti_hitcount = noti_hitcount+1
      WHERE noti_id=#{noti_id}
    
    </update>
    
   
    <!--  글수정 -->
   <update id="updateNotice"  parameterType="com.sp.grooveware.notice.Notice">
    UPDATE notice
    SET noti_title=#{noti_title}, 
    noti_content=#{noti_content},
    save_filename=#{save_filename, jdbcType=VARCHAR},
    original_filename=#{original_filename, jdbcType=VARCHAR} 
    WHERE noti_id=#{noti_id}
   </update>
   
    <!--  글삭제 -->
    <delete id="deleteNotice" parameterType="Long">
      DELETE from notice 
      WHERE noti_id= #{noti_id}
    </delete>
    
    
  
</mapper>