<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="research">
	<!-- 설문 작성 -->
	<insert id="researchBox" parameterType="com.sp.grooveware.research.Research">
		INSERT INTO research(research_id, emp_no, research_title, research_content, research_regdate, 
							 research_startdate, research_enddate, research_status)
		VALUES(research_seq.NEXTVAL, #{emp_no}, #{research_title}, #{research_content}, SYSDATE, 
	    	   TO_DATE(#{research_startdate}, 'YYYY-MM-DD'), TO_DATE(#{research_enddate}, 'YYYY-MM-DD'), #{research_status})
	</insert>

	<!-- 설문 질문 작성 -->
	<insert id="resQuestion" parameterType="com.sp.grooveware.research.Research">
		INSERT INTO question(question_no, research_id, question_content, question_num)
		VALUES(question_seq.NEXTVAL, research_seq.CURRVAL, #{question_content}, #{question_num})
	</insert>

	<!-- 설문 질문응답 작성 -->
	<insert id="resAnsOp" parameterType="com.sp.grooveware.research.Research">
		INSERT INTO answer_option(answer_no, question_no, ans_option_content, ans_option_num)
		VALUES(answer_option_seq.NEXTVAL, question_seq.CURRVAL, #{ans_option_content}, #{ans_option_num})
	</insert>
	
	<!-- 설문 리스트 -->
	<select id="listAll" parameterType="map" resultType="com.sp.grooveware.research.Research">
		SELECT research_id, research_title, research_startdate, research_enddate, emp_no, research_regdate
		FROM research
	</select>
	
	<!-- 설문 보기 : 응답하는 화면 -->
	<select id="readResearch" parameterType="Long" resultType="com.sp.grooveware.research.Research">
		SELECT r.research_id, r.research_title, r.research_startdate, r.research_enddate, e.emp_name, r.research_regdate,
	           q.question_no, q.question_content, q.question_num,
	           ao.answer_no, ao.ans_option_content, ao.ans_option_num
		FROM research r
		JOIN emp e ON r.emp_no=e.emp_no
		JOIN question q ON r.research_id=q.research_id
		JOIN answer_option ao ON q.question_no=ao.question_no
		WHERE r.research_id=#{research_id}
	</select>
	
	<!-- 설문 보기 : 결과 화면 -->
	


</mapper>